.hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url("../../../images/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: 100vw;
  min-height: 800px;
}
.input {
  width: 500px;
  height: 30px;
  border-radius: 9px;
}
.input:focus {
  border: none;
}
.circle {
  height: 65px;
  width: 65px;
  background-color: #1747b8;
  border-radius: 50%;
  display: inline-block;
  padding: 20px;
}
.img {
  z-index: 1000;
  width: 1000px;
  height: 809px;
  margin-top: 40px;
  margin-left: 30px;
}
